.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.textGood {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: green;
}

.textBad {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: red;
}

.textNeutral {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: blue;
}

.textTotal {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
}

.textFeedback {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
}
